argon2-cffi
argon2-cffi-bindings
asttokens
attrs
backcall
beautifulsoup4
bleach
cffi
cryptography
cycler
debugpy
decorator
defusedxml
entrypoint
executing
fastjsonschema
fonttools
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonschema
kiwisolver
lxml
MarkupSafe
matplotlib
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
numpy<2.0.0
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
pkgutil_resolve_name
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
pycparser
Pygments
pyOpenSSL
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
qtconsole
QtPy
scikit-learn
scipy
Send2Trash
setuptools
six
soupsieve
stack-data
terminado
threadpoolctl
tinycss2
tornado
traitlets
wcwidth
webencodings
widgetsnbextension
zipp
pdpbox
shap
eli5
xgboost
lightgbm
catboost
protobuf
h5py
openpyxl
xlrd
optuna
category-encoders
dcor
webcolors
scikit_plot
